<div id="editPage" class="d-flex flex-column align-items-center justify-content-center mb-3">
  <a href="/" class="btn btn-outline-secondary mt-3">Back</a>
  <span class="h4 mt-5">請修改您的支出</span>

  <form action="/records/{{records._id}}/?_method=PUT" method="POST" class="m-5">

    <div class="input-group input-group-lg mb-4">
      <label for="name" style="vertical-align: middle;" class="input-group-text">名稱</label>
      <input id="name" class="form-control" value="{{records.name}}" type="text" name="name" placeholder=" 請輸入支出名稱"
        required>
    </div>

    <div class="input-group input-group-lg mb-4">
      <label for="merchant" style="vertical-align: middle;" class="input-group-text">店家</label>
      <input id="merchant" class="form-control" value="{{records.merchant}}" type="text" name="merchant"
        placeholder=" 請輸入店家名稱" required>
    </div>


    <div class="input-group input-group-lg mb-4">
      <label for="date" class="input-group-text">日期</label>
      <input type="date" id="date" name="date" value="{{records.date}}" min="2020-01-01" class="form-control p-2"
        style="font-family: 'Courier New', Courier, monospace;" required>
    </div>

    <div class="input-group input-group-lg mb-4">
      <label class="input-group-text" for="inputGroupSelect02">支出類別</label>
      <select name="category_name" value="category_name" class="form-control" id="inputGroupSelect02">
        <option>Choose...</option>
        <option value="isLife" {{#if (eq records.category_name 'isLife' ) }}selected{{/if}}>家居樂業</option>
        <option value="isVechcle" {{#if (eq records.category_name 'isVechcle' ) }}selected{{/if}}>交通出行</option>
        <option value="isEntertainment" {{#if (eq records.category_name 'isEntertainment' ) }}selected{{/if}}>休閒娛樂
        </option>
        <option value="isFood" {{#if (eq records.category_name 'isFood' ) }}selected{{/if}}>餐飲食品</option>
        <option value="isMedical" {{#if (eq records.category_name 'isMedical' ) }}selected{{/if}}>醫療費用</option>
        <option value="other" {{#if (eq records.category_name 'other' ) }}selected{{/if}}>其它</option>
      </select>
    </div>

    <div class="input-group input-group-lg mb-4">
      <label class="input-group-text" for="amount"> 金額</label>
      <input id="amount" name="amount" value="{{records.amount}}" type="text" placeholder='＄' class="form-control"
        required><span class="input-group-text">$</span>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3">
      <button id="exbtn" class="btn btn-primary" type="submit">送出修改</button>
    </div>


  </form>
</div>