<div id="mainPage" class="d-flex flex-column justify-content-center align-items-center m-auto">
  {{!-- ------category selection!!--- --}}

  <select name="cate" value="category" class="form-select-lg m-3" id="cateGory">
    <option value="" selected>類別</option>
    <option value="isLife">家居樂業</option>
    <option value="isVechcle">交通出行</option>
    <option value="isEntertainment">休閒娛樂</option>
    <option value="'isFood">餐飲食品</option>
    <option value="isMedical">醫療費用</option>
    <option value="other">其它</option>
  </select>
  {{!-- ------category selection!!--- --}}

  <div id="total" class="mt-3">

    <div class="d-flex justify-content-between">
      <span class="h3">總金額 : </span>
      {{#if amountSum}} <p class="totalMoney">${{amountSum}}</p>{{/if}}
    </div>

    {{#each records}}
    <div class="row mx-auto">
      <div class="col-8">

        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="h1 mx-auto">ICON
              <td class="col-6">{{this.name}}<div>{{this.date}}</div>
              </td>
              <td style="vertical-align:middle ;">${{this.amount}} </td>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-around mt-2">
          <a href="/records/{{this._id}}/edit" class="btn btn-outline-dark btn-lg">修改</a>
          <form action=" ./records/{{this._id}}/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-lg">刪除</button>
          </form>
        </div>
      </div>

    </div>
    {{/each}}

    <div class="d-flex align-items-center justify-content-center mt-3">
      <a href="/records/new" class="btn btn-success btn-lg">新增支出</a>
    </div>
  </div>

</div>