<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">家庭記帳本</a>
  </div>
</nav>



<div class="container m-5">
  {{!-- ------category selection!!--- --}}
  <form action="/" method="post">

    <select name="cate" value="cate" class="form-select form-select-lg mb-3" aria-label="Default select example">
      <option selected>類別</option>
      {{#each categories}}
      <option value="{{this.category}}">{{this.category}}</option>
      {{/each}}
    </select>

    <div id="total" class="mt-3">
      <span class="h3">總金額 : </span>

      <div class="h1">{{records.totalAmount}}</div>
      {{#each records}}
      <div class="row" id="main">

        <div class="col-4 col-sm-8">
          <table class="table">
            <tbody>
              <div class="row">
                <tr>
                  <td class="col-4">{{this.name}}
                    <div>{{this.date}}</div>
                  </td>
                  <td class="col-4">{{this.amount}}</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
        <div class="col-6 col-sm-4">
          <a href="" class="btn btn-dark">EDIT</a>
          <a href="" class="btn btn-dark">DElETE</a>
        </div>

      </div>
      {{/each}}
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary" type="button">Button</button>
      </div>

  </form>
</div>
</div>