<div id="mainPage" class="container m-5 d-flex justify-content-center align-items-center">
  {{!-- ------category selection!!--- --}}
  <form action="/" method="get">

    <select name="cate" value="cate" class="form-select-lg mb-3" id="cateGory">
      <option value="" selected>類別</option>
      <option value="allObject">全部</option>
      <option value="isLife">家居樂業</option>
      <option value="isVechcle">交通出行</option>
      <option value="isEntertainment">休閒娛樂</option>
      <option value="'isFood">餐飲食品</option>
      <option value="isMedical">醫療費用</option>
      <option value="other">其它</option>
    </select>
    {{!-- ------category selection!!--- --}}

    <div id="total" class="mt-3">
      <div class="d-flex justify-content-between">
        <span class="h3">總金額 : </span>
        <p class="totalMoney">$1234</p>
      </div>
      {{#each records}}
      <div class="row" id="main">

        <div class="col-8">
          <table class="table table-striped">
            <tbody>
              <div class="row">
                <tr>
                  <div>{{{this.category}}}</div>
                  <td class="col-8">{{this.name}}
                    <div>{{this.date}}</div>
                  </td>
                  <td class="col-4">${{this.amount}}</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
        <div class="col-4" id="indexBtn">
          <a href="/records/{{this._id}}/edit" class="btn btn-light h2">修改</a>
          <form action="./records/{{this._id}}/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-light h2">刪除</button>
          </form>
        </div>
      </div>
      {{/each}}
      <a href="/records/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
        style="align-items: center;">新增支出</a>
    </div>
</div>