<div class="d-flex flex-column justify-content-center align-items-center m-auto">
  {{!-- ------category selection!!--- --}}

  <div id="total">

    {{#if amountSum}}{{!-- 當user 沒有資料時，把總金額隱蔽 --}}

    <div class="d-flex justify-content-between">
      <span class="h3">總金額 : </span>
      <p class="totalMoney">${{amountSum}}</p>
    </div>

    <div class="m-auto">
      <form action="/filters" method="get">
        <select name="category_name" value="category_name" class="form-select-lg m-3" style="width: 50%;height:2em"
          onchange="submit()">
          <option value="default">類別</option>
          <option value="isLife" {{#if (eq category 'isLife' )}}selected{{/if}}> 家居樂業</option>
          <option value="isVechcle" {{#if (eq category 'isVechcle' )}}selected{{/if}}> 交通出行</option>
          <option value="isEntertainment" {{#if (eq category 'isEntertainment' )}}selected{{/if}}> 休閒娛樂</option>
          <option value="isFood" {{#if (eq category 'isFood' )}}selected{{/if}}> 餐飲食品</option>
          <option value="isMedical" {{#if (eq category 'isMedical' )}}selected{{/if}}> 醫療費用</option>
          <option value="other" {{#if (eq category 'other' )}}selected{{/if}}> 其它</option>
        </select>
      </form>
      {{!-- mounth --}}
      <form action="/filters" method="post">
        <select name="month" value="month" class="form-select-lg m-3" style="width: 50%;height:2em" onchange="submit()">

          <option value="default">月份</option>
          <option value="01" {{#if (eq category 'isLife' )}}selected{{/if}}> 1月</option>
          <option value="02" {{#if (eq category 'isVechcle' )}}selected{{/if}}> 2月</option>
          <option value="03" {{#if (eq category 'March' )}}selected{{/if}}>3月</option>
          <option value="04" {{#if (eq category 'isFood' )}}selected{{/if}}> 4月</option>
          <option value="05" {{#if (eq category 'isMedical' )}}selected{{/if}}> 5月</option>
          <option value="06" {{#if (eq category 'other' )}}selected{{/if}}>6月</option>
          <option value="07" {{#if (eq category 'other' )}}selected{{/if}}>7月</option>
          <option value="08" {{#if (eq category 'other' )}}selected{{/if}}>8月</option>
          <option value="09" {{#if (eq category 'other' )}}selected{{/if}}>9月</option>
          <option value="10" {{#if (eq category 'other' )}}selected{{/if}}>10月</option>
          <option value="11" {{#if (eq category 'other' )}}selected{{/if}}>11月</option>
          <option value="12" {{#if (eq category 'other' )}}selected{{/if}}>12月</option>

        </select>
      </form>
    </div>
    {{/if}}

    {{#is error 'error'}}
    <div class="row">
      <div class="col-12 mt-3">
        <a href="/" class="btn btn-outline-success backtoLast" style="float: right;"><i class="fas fa-backward"></i>
          回到上一頁</a>
      </div>
      <div class="col-6">
        <div class="alert alert-light d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <div>
            <i class="fas fa-exclamation-circle" style="color: rgb(235, 96, 96);"></i> 您還未新增此支出類別！
          </div>
        </div>
      </div>
    </div>
    {{/is}}

    {{#each records}}

    <div class="mt-2">我在 <span class="h4"
        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: lightcoral;">{{this.merchant}}</span>
      花了<i class="fas fa-comment-dollar fa-3x" style="color: rgb(255, 217, 0);"></i>
    </div>
    <hr>
    <div class="row mx-auto">
      <div class="col-8">

        <table class="table " style="background-color: rgb(183, 221, 209);">
          <tbody>
            <tr>
              <th class="h1 mx-auto">
                {{#if (eq this.category_name 'isLife')}} <i class="fas fa-home"></i> {{/if}}
                {{#if (eq this.category_name 'isVechcle')}}<i class="fas fa-shuttle-van"></i>{{/if}}
                {{#if (eq this.category_name 'isEntertainment')}}<i class="fas fa-grin-beam"></i>{{/if}}
                {{#if (eq this.category_name 'isFood')}}<i class="fas fa-utensils"></i>{{/if}}
                {{#if (eq this.category_name 'isMedical')}}<i class="fas fa-hospital"></i>{{/if}}
                {{#if (eq this.category_name 'other')}}<i class="fas fa-pen"></i>{{/if}}

              <td class="col-6">{{this.name}}<div>{{this.date}}</div>
              </td>
              <td style="vertical-align:middle ;">${{this.amount}}</td>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-around mt-3">
          <a href="/records/{{this._id}}/edit" class="btn btn-outline-dark btn-lg">修改</a>
          <form action=" ./records/{{this._id}}/?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-warning btn-lg">刪除</button>
          </form>
        </div>
      </div>

    </div>

    {{/each}}


    <div class="d-flex align-items-center justify-content-center mt-3">
      <a href="/records/new" class="btn btn-info btn-lg">新增支出</a>
    </div>

  </div>
</div>